.loginWrapper {
  min-height: 100vh;
  background: #fff;

  .input_container {
    .label {
      display: flex;
      align-items: center;
      gap: 8px;
      img {
      }

      p {
        color: #5f5f5f;
        font-size: 16px;
        font-weight: 400;
      }
    }
    input {
      margin-top: 8px;
      background: #f9f9f9;
      border: 1px solid #f9f9f9;
      width: 100%;
      padding: 12px 16px;
      border-radius: 4px;

      &:focus {
        outline: none;
      }
    }

    .hide_pass {
      position: relative;

      .eyeBtn {
        position: absolute;
        top: 37%;
        /* bottom: 50%; */
        left: 10px;
        /* transform: translateY(-20%); */
        cursor: pointer;
        svg {
          width: 21.5px;
          height: 21.5px;
          color: #b3b3b3;
        }
      }
    }
  }

  .icon {
    @apply absolute top-3 right-3 text-gray-400 text-lg;
  }

  .eyeBtn {
    @apply absolute left-3 top-3 text-gray-500 hover:text-gray-700;
  }
}
