.footer {
  font-family: var(--font-arabic);
  direction: rtl;
  border-top: 0.83px solid #999999; // exact spec
@media screen and (max-width:992px) {
  display: none;
}
  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: var(--color-gold);
    }
  }
}
