@import "tailwindcss";

@theme {
  --font-sans: "Poppins", "Inter", "system-ui", sans-serif;
  --font-arabic: "Almarai", "system-ui", sans-serif;

  /* Figma Colors */
  --color-main: #ffffff;
  --color-primary: #003f6f;
  --color-warrning: #f59e0b;
  --color-gold: #f5a844;
  --color-gray-100: #5f5f5f;
  --color-blue-100: #eef8ff;
  --color-blue-500: #33a7ff;

  --color-secondary: #9333ea;
  --color-accent: #f59e0b;
  --color-dark: #111827;
  --color-light: #f3f4f6;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
}

@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
}
