.header {
  // padding-top: 12px;
  // padding-bottom: 8px;

  padding: 10px 0;
  border-bottom: 1px solid #ebf3fa;
  margin-bottom: 10px;
  h1 {
    margin: 0;
    color: var(--primary);
    font-size: 22px;
    font-weight: 700;
  }
}

.arrowBtn {
  border: none;
  background: #eef8ff;
  width: 28px;
  height: 28px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  color: var(--color-primary);
  display: flex;

  svg {
    margin: auto;
  }
}
